/**************
//variables
**************/
$default_font_size: 1.6rem;

/**************
//colors
**************/
$color_primary: #eb2f64;
$color_light: #ff3366;
$color_dark: #ba265d;

$color_grey_light: #faf9f9;
$color_grey_light-2:#f4f2f2;
$color_grey_light-3:#f0eeee;
$color_grey_light-4:#ccc;

$color_grey_dark: #333;
$color_grey_dark-2: #777;
$color_grey_dark-3: #999;




*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.6%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color:#777;
    line-height: 1.7;
    box-sizing: border-box;
}