/**************
//variables
**************/
$default_font_size: 1.6rem;

/**************
//colors
**************/


/**************
//global variables
**************/
:root{
    --color_primary: #eb2f64;
    --color_light: #ff3366;
    --color_dark: #ba265d;
    
    --color_grey_light: #faf9f9;
    --color_grey_light-2:#f4f2f2;
    --color_grey_light-3:#f0eeee;
    --color_grey_light-4:#ccc;
    
    --color_grey_dark: #333;
    --color_grey_dark-2: #777;
    --color_grey_dark-3: #999;
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.6%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color:#777;
    line-height: 1.7;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, var(--color_primary), var(--color_dark));
    background-repeat: no-repeat;
    min-height: 100vh;
}
.container{
    max-width: 90vw;
    margin: 10vh auto;
    background-color: var(--color_grey_light-2);
    box-shadow: 0 2rem 6rem rgba($color: #000000, $alpha: 0.3);
    min-height: 90vh;
}
.header{
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color_grey_light-2);
}
.content{
    display: flex;
}
.sideBar{
    background-color: var(--color_grey_dark);
    flex: 0 0 18%;
}
.hotelView{
    flex: 1;
    background-color: orangered;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    &__logo{
        height: 3.25rem;
        margin-left: 3rem;
    }
    &__search{
        flex: 0 0 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        &__input{
            font-family: inherit;
            font-size: inherit;
            color: inherit;
            background-color: var(--color_grey_light-2);
            border: none;
            padding: .7rem 2rem;
            border-radius: 2.5rem;
            width: 70%;
            transition: all .2s;
            &:focus{
                outline: none;
                width: 90%;
                background-color: var(--color_grey_light-3);
                color: var(--color_grey_light-4);
            }
        }
        &__button{
            margin-left: -2.5rem;
            border: none;
            background-color: var(--color_grey_light-2);
            
            &:focus{
                outline: none;
            }
            &:active{
                transform: translateY(2px);
            }
            & svg{
                border: none;
                color: var(--color_primary);
            }
        }
    }
}
.nav{
    
    display: flex;
    align-items: center;
    align-self: stretch;
    & > *{
        padding: 0 1rem;
        cursor: pointer;
      
        height: 100%;
        display: flex;
        align-items: center;
    }
    & > *:hover{
        padding: 0 1rem;
        cursor: pointer;
        background-color: var(--color_grey_dark-3); 
        color: #fff;
    }
    &__icon-box{
       position: relative;
       
        & svg{
          
          transform: scale(1.5);
        }
    }
    &__user{
        margin-right: 1rem;
        &__photo{
            width: 5.5rem;
            margin-left: 1rem;
        }
    }
    &__notification{
        font-size: .8rem;
        height:1.5rem;
        width: 1.5rem;
        border-radius: 5rem;
        background-color: var(--color_primary);
        position: absolute;
        top: 1.1rem;
        left: 1.3rem;
        display: flex;
        justify-content: center;
        color: #fff;
        align-items: center;
    }
}